*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color:#09060c;
  color: white;
}



.text-anim > span{
  color: red;
  font-size: 22px;
  font-weight: 600
}

.text-anim > :nth-child(3){
  font-size: 14px;
}

.darken{
  background: linear-gradient(180deg, #000000, #ffffff00);
    z-index: 2;
    right: 0px;
    left: 0px;
    top: 0px;
    opacity: 0.7;
    height: 100vh;
    position: absolute;
}

.darken1{
  background: linear-gradient(180deg, #000000, #00000040);
    z-index: 2;
    right: 0px;
    left: 0px;
    top: 0px;
    opacity: 0.9;
    height: 100%;
    position: absolute;
}

.darken3{
  background: linear-gradient(0deg, #000000, #807f7f27);
    z-index: 0;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    position: absolute;
}

.background{
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Full height */
    right: 0px;
    left: 0px;
    top: 0px;
    height: 100vh;
    position: absolute;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
